<div id="activate">
  <h2>Change the active user</h2>
  <form action="/show" method="get">
    <label for="thimbl_user">Thimbl user</label>
    <input type="text" name="thimbl_user" value="{{me}}" />
    <input type="submit" value="active user" />
  </form>
</div>