<!DOCTYPE html>
<html>
  <head>
    <title>Thimbl Singing</title>
    <link rel="stylesheet" type="text/css" href="/reset.css">
    <link rel="stylesheet" type="text/css" href="/style.css">
  </head>
  <body>
    <div id="main">
      <div id="header">
        <h1>Thimbl Singing</h1>
      </div>
      
      <div id="message">
        {{#message}}
          <p>{{message}}</p>
        {{/message}}
      </div>
      
      {{{yield}}}
      
      <div id="footer">
        <p><a href="http://thimbl.net">Thimbl</a> is a free, open source, distributed micro-blogging platform.</p>
        <p>
          <a href="http://singing.thimbl.net">Thimbl Singing</a> is another experimental project by 
          <a href="http://fernandoguillen.info">Fernando Guillen</a>.
        </p>
        <p>Fork me at <a href="https://github.com/fguillen/ThimblSinging">Thimbl Singing's github repository</a>.</p>
      </div>
    </div>
    
    <!-- analytics -->
    <script type="text/javascript">

      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-21394543-1']);
      _gaq.push(['_setDomainName', 'none']);
      _gaq.push(['_setAllowLinker', true]);
      _gaq.push(['_trackPageview']);

      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();

    </script>
  </body>
</html>
