<div id="login">
  <form action="/login" method="post">
    <label for="user">User</label>
    <input type="text" name="user" id="user"/>
    <label for="password">Password</label>
    <input type="password" name="password" id="password" />
    <input type="submit" value="login " />
  </form>
</div>