{{>user_header}}

<div id="fetch">
  <p class="text">This data was updated last time in <span>{{last_fetch_parsed}}</span>.
  <a href="/{{me}}/fetch">Update now</a>
</div>

<div id="col-left">
  {{#logged?}}
  <div id="post">
    <form action="/{{user}}/post" method="post">
      <div>
        <label for="text">Text</label>
        <textarea name="text"></textarea>
      </div>
    
      <div>
        <input type="submit" value="post"/>
      </div>
    </form>
  </div>
  {{/logged?}}

  <div id="listening-to">
    <h2>Listening to {{me}}</h2>
    {{#logged?}}
    <form action="/{{user}}/follow" method="post" class="following-form">
      <input type="hidden" name="nick" value="" />
      <input type="hidden" name="address" value="{{me}}" />
      <input type="submit" value="follow"/>
    </form>
    {{/logged?}}
  </div>
  
  <div id="last-message">
    {{#last_message}}
    <div class="message">
      <span class="text">{{text}}</span>
      by <span class="address"><a href="/{{address}}">{{address}}</a></span>
      at <span class="time">{{time_parsed}}</span>
    </div>
    {{/last_message}}
  </div>

  <div id="messages">
    <h2>Time line</h2>
    {{#messages}}
    <div class="message">
      <span class="text">{{text}}</span>
      by <span class="address"><a href="/{{address}}">{{address}}</a></span>
      at <span class="time">{{time_parsed}}</span>
    </div>
    {{/messages}}
  </div>
</div>

<div id="col-right">
  <div id="followings">
    <h2>Following</h2>
    {{#following}}
    <div class="following">
      <span class="nick">{{nick}}</span>
      <span class="address"><a href="/{{address}}">{{address}}</a></span>
      {{#logged?}}
      <form action="/{{user}}/follow" method="post" class="following-form">
        <input type="hidden" name="nick" value="{{nick}}" />
        <input type="hidden" name="address" value="{{address}}" />
        <input type="submit" value="follow"/>
      </form>
      {{/logged?}}
    </div>
    {{/following}}
  
    {{#logged?}}
    <h3>Add new following</h3>
    <div id="add-following">
      <form action="/{{user}}/follow" method="post">
        <label for="nick">Nick</label>
        <input type="text" name="nick" />
        &nbsp;&nbsp;
        <label for="address">Address</label>
        <input type="text" name="address" />
      
        <div>
          <input type="submit" value="follow" />
        </div>
      </form>
    </div>
    {{/logged?}}
  </div> <!-- following -->
  
  {{>known_users}}
  
</div>
