/*
1: 1b1e26
2: caad99
3: b6d051
4: 70a99a
5: 2f6d7a
*/

body {
font-family: 'Georgia', 'Times New Roman', serif;
background: #fff;
color: #1b1e26;
}

h2 {
font-size: 40px;
margin: 10px 0px 10px 0px;
}

a {
  color: #1e1e1e;
}

h3 {
font-size: 20px;
margin: 10px 0px 10px 0px;
}

.clear{ clear: both; }

#main {
width: 900px;
margin: 0 auto;
}

input[type=text],
input[type=password] {
border-left: 0px;
border-right: 0px;
border-top: 0px;
border-bottom: 1px solid #1b1e26;
background: transparent;
padding: 5px 5px 0px 5px;
font-weight: bold;
font-size: 18px;
}

input[type=submit] {
width: auto;
padding: 5px 15px;
border: 0;
font-size: 14px;
color: #FFFFFF;
-webkit-border-radius: 5px;
-moz-border-radius: 5px;
border-radius: 5px;

background-color: #1e1e1e;
}

input[type=submit]:hover {
  -moz-box-shadow: #1e1e1e 0px 0px 4px;
  -webkit-box-shadow: #1e1e1e 0px 0px 4px;
  box-shadow: #1e1e1e 0px 0px 4px;
}



#header h1 {
text-align: center;
font-size: 80px;
margin-top: 5px;
margin-bottom: 10px;
}

#header h1 a {
  color: #000;
  text-decoration: none;
}

#login, #logged {
text-align: right;
}

#login {
  margin-bottom: 10px;
}

#logged{
  font-size: 12px;
}

#logged strong {
font-weight: bold;
}

#logged a {
color: black;
text-decoration: none;
}

#logged a:hover {
text-decoration: underline;
}

#login {
text-align: center;
}

#login h2 {
font-size: 24px;
font-weight: bold;
}

#login input[type=text] {
margin: 0px 10px;
}

#login input#password {
width: 150px;
}

#login input#address {
width: 350px;
}

#profile {
}

#profile .name{
  font-size: 32px;
  font-weight: bold;
}

#profile .address{
  margin-top: -10px;
  font-size: 14px;
  font-weight: bold;
}

#profile .bio {
  margin-top: -5px;
  font-style: italic;
}

#profile .properties{
  font-size: 12px;
  margin: 10px 0px 5px 0px;
}

#profile .properties dt{
  float: left;
  margin-right: 3px;
}

#profile .properties dd{
  font-style: italic;
}


#message p {
text-align: center;
background-color: orange;
margin: 10px 00px;
padding: 10px;
font-weight: bold;
}


#fetch {
text-align: right;
margin-bottom: 20px;
font-size: 12px;
}

#fetch span {
font-weight: bold;
}

#fetch a {
color: #2f6d7a;
text-decoration: none;
}


#fetch a:hover {
text-decoration: underline;
}

#col-left {
width: 450px;
float: left;
}

#col-right {
width: 400px;
margin-left: 30px;
float: left;
}

#post {
box-shadow: rgba(0,0,0, 0.9) 0px 0px 2px;
-moz-box-shadow: rgba(0,0,0, 0.9) 0px 0px 2px;
-webkit-box-shadow: rgba(0,0,0, 0.9) 0px 0px 2px;
padding: 10px;
}

#post:hover {
box-shadow: rgba(0,0,0, 0.9) 0px 0px 8px;
-moz-box-shadow: rgba(0,0,0, 0.9) 0px 0px 8px;
-webkit-box-shadow: rgba(0,0,0, 0.9) 0px 0px 8px;


-webkit-transition: all .2s ease-out;
-moz-transition: all .2s ease-out;
-o-transition: all .2s ease-out;
transition: all .2s ease-out;
}

#post:hover textarea {
  border: 1px solid #1e1e1e;
  -webkit-transition: all .2s ease-out;
  -moz-transition: all .2s ease-out;
  -o-transition: all .2s ease-out;
  transition: all .2s ease-out;
}

#post input[type=submit] {
  background-color: #aaa;
}

#post:hover input[type=submit] {
  background-color: #1e1e1e;
  -webkit-transition: background-color 5s ease-out;
  -moz-transition: background-color 5s ease-out;
  -o-transition: background-color 5s ease-out;
  transition: background-color 5s ease-out;
}

#post textarea {
  width: 95%;
  height: 40px;
margin-bottom: 10px;
padding: 10px;
font-weight: bold;
font-size: 18px;

border: 1px solid #aaa;

}

#post input[type=submit] {
margin: 0px 0px 0px 250px;
width: 180px;
}

#post label {
float: left;
}

#post label[for=text] {
display: none;
}

#messages {
}

.message {
background: #fff;
-moz-border-radius: 3px;
-webkit-border-radius: 3px;
border-radius: 3px;

-moz-box-shadow: #BBB 2px 5px 10px;
-webkit-box-shadow: #BBB 2px 5px 10px;
box-shadow: #BBB 2px 5px 10px;

font-size: 12px;
font-style: italic;
padding: 10px 15px;
margin-bottom: 10px;
}

.message:hover {

-moz-box-shadow: #777 0px 0px 2px;
-webkit-box-shadow: #777 0px 0px 2px;
box-shadow: #777 0px 0px 2px;

-webkit-transition: all .2s ease-out;
-moz-transition: all .2s ease-out;
-o-transition: all .2s ease-out;
transition: all .2s ease-out;
}

.message a {
  color: #1E1E1E;
  font-weight: normal;
}

.message .properties {
color: #aaa;
}

.message .time {
font-weight: bold;
}

.message .address {
font-weight: bold;
}

.message .address a {
color: #aaa;
text-decoration: none;
}

.message .address a:hover {
text-decoration: underline;
}

.message:hover .address a {
color: #555;
-webkit-transition: all .4s ease-out;
-moz-transition: all .4s ease-out;
-o-transition: all .4s ease-out;
transition: all .4s ease-out;
}


.message .text {
font-style: normal;
font-size: 14px;
font-weight: bold;
line-height: 18px;
margin-bottom: 5px;
}

#last-message {
margin-top: 10px;
line-height: 20px;
}

#last-message .text {
font-size: 24px;
line-height: 30px;
}




#followings,
#known-users {
width: 400px;
text-align: right;
padding: 10px;
border: 0;
font-size: 14px;
-webkit-border-radius: 5px;
-moz-border-radius: 5px;
}


#followings input[type=text],
#followings input[type=password] {
padding: 2px;
margin-top: 10px;
font-size: 14px;
}

#followings input[name=nick],
#followings input[name=password] {
width: 100px;
}


#followings input[name=address] {
width: 180px;
}

#followings input[type=submit] {
margin: 10px 0px 10px 0px;
width: 150px;
}

#followings a,
#known-users a {
font-weight: bold;
color: #1b1e26;
text-decoration: none;
}
#followings a:hover,
#known-users a:hover {
text-decoration: underline;
}

#followings h3 {
margin-top: 40px;
margin-bottom: 0px;
}

.following-form,
.unfollowing-form {
display: inline;
}

.following-form input[type=submit],
.unfollowing-form input[type=submit] {
padding: 1px 1px 1px 14px;
font-size: 10px;
width: 60px !important;
margin: 0px !important;

background-repeat: no-repeat;
background-position: left top;
}

.following-form input[type=submit] {
background-image: url('/plus_mini.png');
}
.unfollowing-form input[type=submit] {
background-image: url('/minus_mini.png');
}


#known-users {
margin-top: 10px;
padding-bottom: 10px;
margin-bottom: 10px;
}

#root #known-users {
width: 100%;
padding: 10px 0px;
text-align: center;
}


#footer {
padding: 20px;
color: #1b1e26;
clear: both;
text-align: center;
line-height: 20px;
}

#footer a {
color: #1b1e26;
font-weight: bold;
}


