<div id="logged">
  welcome <strong>{{#current_user}}{{address}}{{/current_user}}</strong> | 
  <a href="/{{#current_user}}{{address}}{{/current_user}}">profile</a> |
  <a href="/timeline">timeline</a> |
  <a href="/logout">logout</a>
</div>
