<div id="login">
  <form action="/login" method="post">
    <label for="address">Address</label>
    <input type="text" name="address" id="address"/>
    <label for="password">Password</label>
    <input type="password" name="password" id="password" />
    <input type="submit" value="login" />
  </form>
</div>