<div class="message">
  <div class="text">{{#activate_links}}{{text}}{{/activate_links}}</div>
  <div class="properties">
    by <span class="address"><a href="/{{address}}">{{address}}</a></span>
    at <span class="time">{{time_parsed}}</span>
  </div>
</div>